# PyCity Schools Analysis

- After reviewing the data, schools who were given higher budgets with 645-675 per students rendered lower test scores, compared to schools with smaller budgets that was around 585 per student. 
- Respective to the data summarized, small and medium sized schools showed higher math test scores than large sized schools at 89%-91% passing vs. 67%.
- According to the data, there are 7 district schools and 8 charter schools. Charter schools showed better performance in both reading and math scores. This can either be due to the quality of teaching or the student population since the data shows that there were more students attending distrct schools than charter schools. 
---

In [1]:
# Dependencies and Setup
import csv
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_path = Path(r"C:\Users\jasmi\OneDrive\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
student_data_path = Path(r"C:\Users\jasmi\OneDrive\Documents\pandas-challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_csv = pd.read_csv(school_data_path)
student_data_csv = pd.read_csv(student_data_path)

# Combine the data into a single dataset.
school_data_merged = pd.merge(student_data_csv, school_data_csv, how="left", on=["school_name", "school_name"])
school_data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
total_unique_schools = school_data_csv['school_name']

total_schools = len(total_unique_schools)

total_schools

15

In [3]:
# Calculate the total number of students
total_students = school_data_merged["Student ID"].count()

total_students

39170

In [4]:
# Calculate the total budget
total_budget = school_data_merged['budget'].sum()
total_budget

82932329558

In [5]:
# Calculate the average (mean) math score
avg_math_score = school_data_merged['math_score'].mean()
avg_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
avg_reading_score = school_data_merged['reading_score'].mean()
avg_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
total_passing_math = school_data_merged[(school_data_merged["math_score"] >= 70)].count()["student_name"]
passing_math_pct = total_passing_math / float(total_students) * 100
passing_math_pct

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
total_passing_reading = school_data_merged[(school_data_merged["reading_score"] >70)].count()["student_name"]
passing_reading_pct = total_passing_reading / float(total_students) * 100
passing_reading_pct

82.97166198621395

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_total = school_data_merged[
    (school_data_merged["math_score"] >= 70) & (school_data_merged["reading_score"] >= 70)
].count()["student_name"]
comprehensive_passing_rate = passing_math_reading_total /  float(total_students) * 100
comprehensive_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passing_math_pct],
    "% Passing Reading": [passing_reading_pct],
    "% Predominantly Passing": [comprehensive_passing_rate]
})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Predominantly Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,82.971662,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data_merged.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [12]:
# School types by school name
school_types = school_data_merged.set_index('school_name')['type']
school_types.head()

school_name
Huang High School    District
Huang High School    District
Huang High School    District
Huang High School    District
Huang High School    District
Name: type, dtype: object

In [13]:
# Calculate the total student count per school from school_data
students_per_school = school_data_merged.set_index(["school_name"])["size"]
students_per_school

school_name
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
                      ...
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Name: size, Length: 39170, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
total_budget_per_school = school_data_merged.set_index('school_name')['budget']
capita_per_school =  total_budget_per_school/ students_per_school

In [15]:
# Calculate the average test scores per school from school_data_complete
avg_math_per_school = school_data_merged.groupby(["school_name"])["math_score"].mean()
avg_reading_per_school = school_data_merged.groupby(["school_name"])["reading_score"].mean()

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_merged[(school_data_merged["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_merged[(school_data_merged["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_merged[
    (school_data_merged["reading_score"] >= 70) & (school_data_merged["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / students_per_school * 100
per_school_passing_reading = school_students_passing_reading / students_per_school * 100
overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
        "School Type": [school_types],
        "Total Students": [students_per_school],
        "Total School Budget": [total_budget_per_school],
        "Per Student Budget": [capita_per_school],
        "Average Math Score": [avg_math_per_school],
        "Average Reading Score": [avg_reading_per_school],
        "% Passing Math": [per_school_passing_math],
        "% Passing Reading": [per_school_passing_reading],
        "% Overall Passing": [overall_passing_rate]
    }
    )

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: unsupported format string passed to Series.__format__

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
highest_performing_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
highest_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,school_name Huang High School 2917 Huang H...,school_name Huang High School 1910635 Huan...,school_name Huang High School 655.0 Huang ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064 Ba...,school_name Bailey High School 81.933280 Ba...,school_name Bailey High School 54.642283 Ba...

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
lowest_performing_schools =  per_school_summary.sort_values(["% Overall Passing"], ascending=True)
lowest_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,school_name Huang High School 2917 Huang H...,school_name Huang High School 1910635 Huan...,school_name Huang High School 655.0 Huang ...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064 Ba...,school_name Bailey High School 81.933280 Ba...,school_name Bailey High School 54.642283 Ba...

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_grade_students = school_data_merged[(school_data_merged["grade"] == "9th")]
tenth_grade_students = school_data_merged[(school_data_merged["grade"] == "10th")]
eleventh_grade_students = school_data_merged[(school_data_merged["grade"] == "11th")]
twelfth_grade_students = school_data_merged[(school_data_merged["grade"] == "12th")]

In [ ]:
# Group by "school_name" and take the mean of each.
ninth_grade_math_scores = ninth_grade_students.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_scores = tenth_grade_students.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_scores = eleventh_grade_students.groupby(["school_name"])["math_score"].mean()
twelfth_grade_math_scores = twelfth_grade_students.groupby(["school_name"])["math_score"].mean()

In [ ]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_math_scores,
        "10th": tenth_grade_math_scores,
        "11th": eleventh_grade_math_scores,
        "12th": twelfth_grade_math_scores
    }
)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_grade_students = school_data_merged[(school_data_merged["grade"] == "9th")]
tenth_grade_students = school_data_merged[(school_data_merged["grade"] == "10th")]
eleventh_grade_students = school_data_merged[(school_data_merged["grade"] == "11th")]
twelfth_grade_students = school_data_merged[(school_data_merged["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_grade_students.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading_scores = tenth_grade_students.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_grade_students.groupby(["school_name"])["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_grade_students.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_reading_scores,
        "10th": tenth_grade_reading_scores,
        "11th": eleventh_grade_reading_scores,
        "12th": twelfth_grade_reading_scores
    }
)

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(capita_per_school, spending_bins, labels=spending_labels, right=False)
school_spending_df

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame(
    {
        "Average Math Score" : spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =pd.cut(per_school_summary["Total Students"], size_bins, labels=size_labels, right=False)
per_school_summary

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary=pd.DataFrame(
    {
        "Average Math Score" : size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing
    })

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: unhashable type: 'Series'

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =pd.DataFrame(
    {
        "Average Math Score" : average_math_score_by_type,
        "Average Reading Score": average_reading_score_by_type,
        "% Passing Math": average_percent_passing_math_by_type,
        "% Passing Reading": average_percent_passing_reading_by_type,
        "% Overall Passing": average_percent_overall_passing_by_type
    })

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208